<% stylesheet 'users/list' %>
<%= javascript_include_tag 'users/list' %>
<%= javascript_include_tag 'form' %>
<%- @hide_create_star = true -%>

<% form_for (@team, :html => {:class => 'sheer round clearfix'}) do |f| %>
  <%= f.error_messages %>
  <h2>New Team</h2>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <ul class="clearfix">
  <% User.all.find_all{|u| u.active?}.sort_by(&:name).each do |user| %>
    <li class="user sheer round">
      <%= f.label "to_id_#{user.id}",
        render(:partial => '/shared/photo_with_name',
               :locals => {:user => user, :size => :square}) %>
      <%= check_box_tag "team[user_ids][]", "#{user.id}", @team.user_ids.include?(user.id), :id => "team_user_ids_" + user.id.to_s %>
    </li>
  <% end %>
  </ul>
  <p>
    <%= f.submit %>
  </p>
<% end %>
