<%= stylesheet 'stars/new' %>
<%= javascript_include_tag 'stars/new' %>
<%= javascript_include_tag 'form' %>
<%- @hide_create_star = true -%>

<% form_tag(@team, :html => {:class => 'sheer round clearfix'}) do |f| %>

  <h2>Make a new team:</h2>
  <%= text_field 'name', :name  %>
  <ul class="clearfix">
  <% current_user.others.sort_by(&:name).each do |other| %>
    <li class="sheer round">
      <%= label "to_id_#{other.id}",
        render(:partial => '/shared/photo_with_name',
               :locals => {:user => other, :size => :square}) %>
      <%= check_box_tag "star[to_ids][]", "#{other.id}", false %>
    </li>
  <% end %>
  </ul>
  <p>
    <%= submit_tag 'Make a Team!', :class => 'button' %>
  </p>
<% end %>
