<% stylesheet 'stars' %>

<% if @stars.any? %>
  <%= render :partial => 'featured_star',
             :locals => {:star => @stars.first, :size => :small} %>
  <ul id="recent_stars">
    <h2>Recent Stars</h2>
    <%= render :partial => 'star', :collection => @stars[1..-1] %>
  </ul>
  <div id="superstars">
    <h2>Last Week's Superstars</h2>
    <%= render :partial => "superstars",
               :locals => {:users => @last_weeks_superstars} %>
    <h2>This Week's Contenders</h2>
    <%= render :partial => "superstars",
               :locals => {:users => @current_superstars} %>
   </div>
<% else %>
  <div class="lone_message sheer round ">
    No one has any stars :(<br/>
    <%= create_a_star_button %>
  </div>
<% end %>
