<% if @num_stars > 0 %>
  <h2 style="font-weight: normal; font-size: 14px;">
    <strong><%= pluralize(@num_froms, 'person') %></strong> gave
    <strong><%= pluralize(@num_stars, 'star') %></strong> to
    <strong><%= pluralize(@num_tos, 'dogooder') %></strong>
    last week!
  </h2>
  <h1>But the real superstars are...</h1>
  <ol style="margin-left: 10px;">
    <% @superstars.each do |superstar| %>
      <li style="margin-left: 0px; margin-bottom: 20px;">
        <h2 style="font-size: 12px;">
          <%= superstar.user.name %>
          earned <%= pluralize(superstar.count, 'star') %>
          and <%= pluralize(superstar.seconds, 'second') %>!
        </h2>
      </li>
    <% end %>
  </ol>
  <p>Good work, team!</p>
<% else %>
  <p>
    I can't see! It's so dark in here because you guys didn't give out a single star this past week.
  </p>
  <p>
    Stop slacking and go delight your peers!
  </p>
<% end %>
<p>
<%= link_to "&#9733; See Stars &#9733;", root_url,
              :style => "
                background-color: #EE4;
                color: #3B5998;
                font-size: 16px;
                padding: 5px 10px;" %>
</p>
