<body style="text-align: center;">
  <div id="content"
       style="background-color: #004276;
              color: #FFF;
              margin: 20px auto 0px;
              padding: 10px 10px 20px;
              width: 600px;">
    <h1>
      <%= @star.from.name %> gave <%= @star.to.name %> a star!
    </h1>
    <p style="border: 2px solid #FFF;
              background-color: #4C6C85;
              color: #FFF;
              font-size: 14px;
              margin: 20px auto;
              padding: 20px;
              width: 400px;">
      <%= @star.reason %>
    </p>
  </div>
  <p style="margin: 10px 0px;">
    <%= link_to "&#9733; See stars", root_url,
                :style => "
                  background-color: #EE4;
                  color: #3B5998;
                  font-size: 16px;
                  padding: 5px 10px;" %>
    <%= link_to "&#9732; Second!", star_seconds_url(@star),
                :style => "
                  background-color: #387733;
                  color: #FFF;
                  font-size: 16px;
                padding: 5px 10px;" %>
  </p>
</body>
