<% stylesheet 'user_sessions' %>
<%- @hide_create_star = true %>
<div class="lone_message sheer round clearfix" %>
  <h2>Star light, star bright&hellip;</h2>
  <%- form_for @user_session do |f| -%>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p class="remember">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    <p>
    <%= f.submit "Log in", :class => "button" %>
  <%- end -%>
</div>
