<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Stars!</title>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css' />
    <link rel="shortcut icon" href="/images/icon.png" />
    <% @stylesheets.uniq.each do |stylesheet| %>
      <%= stylesheet_link_tag stylesheet %>
    <% end %>
    <%= javascript_include_tag :jquery %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.scrolling-parallax' %>
    <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
  </head>
  <body class="clearfix">
    <%= fb_connect_javascript_tag %>
    <%= init_fb_connect "XFBML", :js => :jquery %>
    <div id="container">
      <% if flash[:notice] %>
        <div id="flash"><%= flash[:notice] %></div>
      <% end %>
      <div class="clearfix" id="header">
        <% unless @hide_create_star %>
          <div id="create_a_star"><%= create_a_star_button %></div>
        <% end %>
        <%= link_to image_tag('logo-top.png'), root_path %>
      </div>
      <%= yield %>
      <div id="stars"></div>
      <div id="logo"></div>
      <div id="hills"></div>
    </div>
  </body>
</html>
